h1{color: red;

}

h1 {text-align: center;
}

h2{color: red;

}


#banner {

}

#Narguile-03{width: 100%;
}

.principal {
	padding-left:30px;
}

.titulo-principal {
	padding-left: 20px;
}

.titulo-centralizado {
	text-align: center;
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 28%;
	margin-right: 5%;
}

#narguile-04 {
	width: 50%;
}

.Texto01{background-color: #FFCCCC;
	}

